<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_109796e66449a019f7f90437456940fd {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>

            <style>html, body {
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 0;
            }
            </style>

            <style>#map {
                position:absolute;
                top:0;
                bottom:0;
                right:0;
                left:0;
                }
            </style>

            <script>
                L_NO_TOUCH = false;
                L_DISABLE_3D = false;
            </script>

        
</head>
<body>
    
    
            <div class="folium-map" id="map_109796e66449a019f7f90437456940fd" ></div>
        
</body>
<script>
    
    
            var map_109796e66449a019f7f90437456940fd = L.map(
                "map_109796e66449a019f7f90437456940fd",
                {
                    center: [33.565318, -7.663939],
                    crs: L.CRS.EPSG3857,
                    ...{
  "zoom": 10,
  "zoomControl": true,
  "preferCanvas": false,
}

                }
            );

            

        
    
            var tile_layer_89ac72afe5f27ff3bb38aab47e7f13d3 = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {
  "minZoom": 0,
  "maxZoom": 19,
  "maxNativeZoom": 19,
  "noWrap": false,
  "attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors",
  "subdomains": "abc",
  "detectRetina": false,
  "tms": false,
  "opacity": 1,
}

            );
        
    
            tile_layer_89ac72afe5f27ff3bb38aab47e7f13d3.addTo(map_109796e66449a019f7f90437456940fd);
        
    
            var marker_8ad1ab8ffb3af7f77e3dd4cb0bbb7027 = L.marker(
                [33.565318, -7.663939],
                {
}
            ).addTo(map_109796e66449a019f7f90437456940fd);
        
    
            var icon_29129a076a8714735e5c0372f69d7b46 = L.AwesomeMarkers.icon(
                {
  "markerColor": "orange",
  "iconColor": "white",
  "icon": "info-sign",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_e4ccec21fb74cf882f78aabadbce9ba0 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_7cdcae8211770aa9cd34817feb6049f0 = $(`<div id="html_7cdcae8211770aa9cd34817feb6049f0" style="width: 100.0%; height: 100.0%;"><b>Usine</b><br>Usine<br>AQI: 128<br>Status: Mauvais</div>`)[0];
                popup_e4ccec21fb74cf882f78aabadbce9ba0.setContent(html_7cdcae8211770aa9cd34817feb6049f0);
            
        

        marker_8ad1ab8ffb3af7f77e3dd4cb0bbb7027.bindPopup(popup_e4ccec21fb74cf882f78aabadbce9ba0)
        ;

        
    
    
            marker_8ad1ab8ffb3af7f77e3dd4cb0bbb7027.bindTooltip(
                `<div>
                     Usine - AQI 128
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
                marker_8ad1ab8ffb3af7f77e3dd4cb0bbb7027.setIcon(icon_29129a076a8714735e5c0372f69d7b46);
            
    
            var circle_6b90e6f5adb0153396faf34ce0a65c90 = L.circle(
                [33.565318, -7.663939],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 0.3, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 6400, "stroke": true, "weight": 3}
            ).addTo(map_109796e66449a019f7f90437456940fd);
        
    
        var popup_04ac100579fbdab93c4b035df040d34d = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_5b08457a6f977659e7c0e84ddd03df5f = $(`<div id="html_5b08457a6f977659e7c0e84ddd03df5f" style="width: 100.0%; height: 100.0%;">Zone AQI 128</div>`)[0];
                popup_04ac100579fbdab93c4b035df040d34d.setContent(html_5b08457a6f977659e7c0e84ddd03df5f);
            
        

        circle_6b90e6f5adb0153396faf34ce0a65c90.bindPopup(popup_04ac100579fbdab93c4b035df040d34d)
        ;

        
    
</script>
</html>